@using Google.Api
@using TheoryProtocol.Models
@inject IDialogService dialogService
@inject CommentService commentService
<h3>ConnectionComments</h3>


<div style="width: 100%">
    @foreach (Comment comment in comments)
    {
        <MudPaper Outlined="true" Elevation="3" Style="margin-bottom: 10px">
            <MudText>@string.Join(" ", comment.CreatedAt.ToLongDateString(), comment.CreatedAt.ToShortTimeString())</MudText>
            <MudText Typo="Typo.h5">@comment.Content</MudText>
        </MudPaper>
    }
    <MudPaper>
        <MudButton Color="Color.Primary" @onclick="OpenVoteDialog">Vote</MudButton>
    </MudPaper>
</div>

@code {

    class ConnectionComment
    {
        public string Content { get; set; }
        public DateTime CreatedAt { get; set; }
    }

    bool showVoteDialog = false;
    private string commentContent;

    List<Comment> comments = new List<Comment>()
    {
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        comments = await commentService.GetCommentsByCanvasAsync(0);
        
    }

    private void OpenVoteDialog()
    {
        DialogOptions options = new DialogOptions
        {
            CloseOnEscapeKey = true
        };

        dialogService.Show<VoteConnection>("Vote", options);
    }
}