@using Google.Api
@inject IDialogService dialogService
<h3>ConnectionComments</h3>


<div style="width: 100%">
    @foreach (ConnectionComment comment in _comments)
    {
        <MudPaper Outlined="true" Elevation="3" Style="margin-bottom: 10px">
            <MudText>@string.Join(" ", comment.CreatedAt.ToLongDateString(), comment.CreatedAt.ToShortTimeString())</MudText>
            <MudText Typo="Typo.h5">@comment.Content</MudText>
        </MudPaper>
    }
    <MudPaper>
        <MudButton Color="Color.Primary" @onclick="OpenVoteDialog">Vote</MudButton>
    </MudPaper>
</div>

@code {

    class ConnectionComment
    {
        public string Content { get; set; }
        public DateTime CreatedAt { get; set; }
    }

    bool showVoteDialog = false;
    private string commentContent;

    List<ConnectionComment> _comments = new List<ConnectionComment>()
    {
        new ConnectionComment()
        {
            Content = "bla bla bla",
            CreatedAt = new DateTime(2023, 11, 11, 11, 11, 11)
        },
        new ConnectionComment()
        {
            Content = "uga buga",
            CreatedAt = new DateTime(2023, 12, 12, 12, 12, 12)
        }
    };

    private void OpenVoteDialog()
    {
        DialogOptions options = new DialogOptions
        {
            CloseOnEscapeKey = true
        };

        dialogService.Show<VoteConnection>("Vote", options);
    }
}